.foodItems{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_fooditem{
    position: absolute;
    width: 500px;
    top: 30%;
    left: 35%;
    background-color: rgb(209, 234, 214);
    padding: 30px;
    border-radius: 5px;
    z-index: 1;
}

.foodItems_category{
    width: 50%;
    padding: 20px;
    background-color: #98e780;
    border-radius: 10px;
}

.foodItem_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px; 
}

.restaurant_details{
    width: 40%;
    padding: 20px;
    background-color: #98e780!important;
    border-radius: 10px;
}